.body{
	background-color: pink;
}
.a{
	background-color: red; 
	height:150px;
}
.b{
	background-color: black;
	height:150px;
}
.g{
	background-color: green;
	height:150px;
}
.y{
	background-color: yellow;
	height:150px;
}
